[Desktop Entry]
Categories=Development;Game;Utility;
Comment=Altirra, an 8-bit Atari computer emulator
Exec=env WINEPREFIX=$HOME/.altirra wine /opt/altirra/Altirra64.exe
GenericName=Altirra
Name=Altirra
Icon=altirra.png
StartupNotify=true
StartupWMClass=Altirra64.exe
Type=Application
Version=4.01
